<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">The Madness</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="goToMessagePage($event)" href="">Messages</a>
      </li>
      <li class="nav-item" *ngIf="StateService?.user?.isAdmin">
        <a class="nav-link" (click)="goToAdminPage($event)" href="">Admin</a>
      </li>
    </ul>
    <a class="nav-link text-white pl-0" (click)="logout($event)" href="">Logout</a>
  </div>
</nav>
<div class="w-100">
  <div *ngFor="let pool of (pools | async) ; let isFirst = first" class="w3-card ma3 pa3 cf">
    <div class="fl w-20 f3 mid-gray">{{pool.year}}</div>
    <div class="fl w-60 white">empty</div>
    <div class="fl w-20 tr">
      <a *ngIf="isFirst && !userInPool(pool)" class="f6 dim ba ph3 pv2 dib green br2" (click)="joinPool($event, pool)" href="">Join</a>
      <a *ngIf="isFirst && userInPool(pool)" class="f6 dim ba ph3 pv2 dib blue br2" [routerLink]="['/pools', pool.year]" href="">View</a>
      <a *ngIf="!isFirst" class="dn-s f6 dim ba ph3 pv2 dib green br2" [routerLink]="['/admin/pools', pool.year]" href="">History</a>
      <a *ngIf="!isFirst" class="dn-ns dim ba ph3 pv1 dib green br2 h33px" [routerLink]="['/admin/pools', pool.year]" href=""><i class="material-icons">history</i></a>
    </div>
  </div>
</div>